<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748815530022-qlmvtdt8udsfqphfdh1iicm7g4jicnvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748815530022-qlmvtdt8udsfqphfdh1iicm7g4jicnvu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>748815530022-p1e06p4plh5r11jnkd2fap60t55ee3bn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCp7dtUCCI1WjyB1tuMywXUbjUL6IQNio</string>
	<key>GCM_SENDER_ID</key>
	<string>748815530022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Taska</string>
	<key>PROJECT_ID</key>
	<string>taska-23ad4</string>
	<key>STORAGE_BUCKET</key>
	<string>taska-23ad4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748815530022:ios:e0666a41c0bd86ee480ee7</string>
</dict>
</plist>